<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::navigation"></header>

  <main>
    <div class="container mt-5">
      <div class="card mb-3">
        <img src="/images/about.jpg" class="card-img-top" alt="aboud">
        <div class="card-body">
          <h5 class="card-title">За нас</h5>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. 
            This content is a little bit Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat soluta
             reprehenderit iste excepturi, sapiente voluptate voluptatibus vel reiciendis atque, cum nemo, culpa tempore. 
             Quos perferendis, enim distinctio eum possimus unde!This is a wider card with supporting text below as a natural lead-in to additional content. 
             This content is a little bit Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat soluta
              reprehenderit iste excepturi, sapiente voluptate voluptatibus vel reiciendis atque, cum nemo, culpa tempore. 
              Quos perferendis, enim distinctio eum possimus unde!</p>
          
        </div>
      </div>
    </div>
    
  </main>


<footer th:replace="fragments/commons::footer"></footer>

</body>

</html>