<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::navigation"></header>
<main>
    <section class="container mt-3">
        <div class="row">
            <div class="col-12">
                <div class="row">
                    <div class="col-md-6 col-12">

                        <div class="card border-primary mb-3">
                            <div class="card-header">Здравей:
                                <th:block sec:authorize="isAuthenticated()" sec:authentication="name"></th:block>
                            </div>
                            <div class="card-body text-primary">
                                <h2 class="card-text">Статистика:</h2>
                                <h4 class="card-text">Заявки от рег. потребители:
                                    <th:block th:text="${stats.getAuthRequests()}"></th:block>
                                </h4>
                                <h4 class="card-text">Заявки от аноннимни потребители:
                                    <th:block th:text="${stats.getAnonRequests()}"></th:block>
                                </h4>
                                <h4 class="card-text">Общ брой заявки:
                                    <th:block th:text="${stats.getTotalRequest()}"></th:block>
                                </h4>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6 col-12">
                        <div class="col-12">
                            <form
                                    th:action="@{/users/admin}"
                                    th:method="POST"
                                    th:object="${addAdminBindingModel}">
                                <div class="card border-primary mb-3">
                                    <div class="card-header">Даване на права:</div>
                                    <div class="card-body text-primary">
                                        <p class="card-text">Добави Админ:</p>
                                        <div class="row">
                                            <div class="col-2">
                                                <img src="/images/username.png" alt="username">
                                            </div>
                                            <div class="col-10">
                                                <input name="Username"
                                                       th:field="*{username}"
                                                       required
                                                       minlength="5"
                                                       maxlength="20"
                                                       type="text"
                                                       class="form-control"
                                                       placeholder="Enter username">
                                                <small id="Username"
                                                       class="invalid-feedback  form-text bg-danger rounded"
                                                >Потребителското име трябва да е от 5 до 20 символа</small>
                                            </div>
                                            <div>
                                                <button class="login-form-button" type="submit">Добави</button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>
                        <th:block th:text="${adminInfo}"></th:block>
                    </div>


                </div>
            </div>
        </div>
    </section>
</main>

<footer th:replace="fragments/commons::footer"></footer>

</body>

</html>