<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>

<head th:replace="fragments/commons::head"></head>

<body>
<header th:replace="fragments/commons::navigation"></header>
    <main>
      <section>
        <div class="container mt-5">
          <div class="card border-success">
            <div class="card-header">
              Правила
            </div>
            <div class="card-body text-success">
              <blockquote class="blockquote mb-0">
                <p>Не използваите нецонзорно съдържание, иначе ше бъдете изтрити</p>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="container mt-5">
          <div class="card border-success">
            <div class="card-header">
              побликации
            </div>
            <div class="card-body text-success">
              <blockquote class="blockquote mb-0">
                <p>ако побликацията не е ваша посочете източника от който сте я взели</p>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="container mt-5">
          <div class="card border-success">
            <div class="card-header">
              Lore
            </div>
            <div class="card-body text-success">
              <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error in ex 
                  deserunt tenetur suscipit aspernatur necessitatibus voluptate impedit incidunt perferendis, 
                  at odio nulla est labore et quidem molestiae. Voluptates, quos.</p>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="container mt-5">
          <div class="card border-success">
            <div class="card-header">
              побликации
            </div>
            <div class="card-body text-success">
              <blockquote class="blockquote mb-0">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error in ex 
                  deserunt tenetur suscipit aspernatur necessitatibus voluptate impedit incidunt perferendis, 
                  at odio nulla est labore et quidem molestiae. Voluptates, quos.</p>
              </blockquote>
            </div>
          </div>
        </div>

      </section>
    </main>

    <footer th:replace="fragments/commons::footer"></footer>

</body>

</html>